In [ ]:
import pandas as pd
import numpy as np

In [33]:
################## Loading data ##################

sheets = pd.ExcelFile("histretSP.xls").sheet_names
n = len(sheets)
dfs = {sheet : pd.read_excel("histretSP.xls", sheet_name=sheet) for sheet in sheets}

In [34]:
################## Data cleaning ##################

dfs_cleaned = {}

def clean_sheet(dfs : pd.DataFrame, sheet_name : str, header_row : int=None, data_start : int=None, data_end : int=None, rename_dict : dict[str, str]=None, keep_cols : list[int]=None)-> pd.DataFrame:
    """
    Returns the sheet after cleaning it into a simple df
    (header_row = the row that contains the col names)
    """
    df = dfs[sheet_name].copy()

    if header_row is not None:
        new_cols = df.iloc[header_row, :].fillna("default_name").tolist()
        if (new_cols[0]) != 'Year':  
            new_cols[0] = "Year"
        df.columns = new_cols

       
    if rename_dict:
        df = df.rename(columns=rename_dict)

    if data_start is None:
        data_start = 0

    if data_end is None: 
        data_end = df.shape[0] - 1

    df = (df.loc[data_start:data_end, :]).reset_index(drop=True)
    
    if keep_cols: # must be a list of int
        df = df.iloc[:, keep_cols]
    return df


sheets_config = {
    "Annual Returns on Investments in": {
        "dfs": dfs,
        "sheet_name": "Returns by year",
        "header_row": 18,
        "data_start": 19,
        "data_end": 115,
        "keep_cols" : list(range(0, 8)) 
    },
    "Value of $100 invested at start of 1928 in": {
        "dfs": dfs,
        "sheet_name": "Returns by year",
        "header_row": 18,
        "data_start": 19,
        "data_end": 115,
        "keep_cols" : [0] + list(range(8, 15))  
    },
    "Annual Risk Premium": {
        "dfs": dfs,
        "sheet_name": "Returns by year",
        "header_row": 18,
        "data_start": 19,
        "data_end": 115,
        "keep_cols" : [0] + list(range(15, 20)) 
    },
    "Annual Real Returns": {
        "dfs": dfs,
        "sheet_name": "Returns by year",
        "header_row": 18,
        "data_start": 19,
        "data_end": 115,
        "keep_cols" : [0] + list(range(20, 28))
    },
    "Value of $100 invested at start of 1928 in real terms": {
        "dfs": dfs,
        "sheet_name": "Returns by year",
        "header_row": 18,
        "data_start": 19,
        "data_end": 115,
        "keep_cols" : [0] + list(range(28, 35)) 
    },
    "Real Risk Premium": {
        "dfs": dfs,
        "sheet_name": "Returns by year",
        "header_row": 18,
        "data_start": 19,
        "data_end": 115,
        "keep_cols" : [0, 35, 36]
    },
    "S&P 500 & Raw Data": {
        "dfs": dfs,
        "sheet_name": "S&P 500 & Raw Data",
        "header_row": 0,
        "data_start": 1
    },
    "Small Cap": {
        "dfs": dfs,
        "sheet_name": "Small Cap",
        "data_start": 0,
        "keep_cols": [0, 1]
    },
    "T. Bond yield & return": {
        "dfs": dfs,
        "sheet_name": "T. Bond yield & return",
        "header_row": 5,
        "data_start": 6
    },
    "T. Bill rates": {
        "dfs": dfs,
        "sheet_name": "T. Bill rates",
        "header_row": 8,
        "data_start": 9,
        "keep_cols": [0, 1]
    },
    "Inflation Rate": {
        "dfs": dfs,
        "sheet_name": "Inflation Rate",
        "header_row": 9,
        "data_start": 10,
        "keep_cols": [0, 2],
        "rename_dict": {"default_name": "CPIAUCNS"}
    },
    "Home Prices": {
        "dfs": dfs,
        "sheet_name": "Home Prices (Raw Data)",
        "header_row": 7,
        "data_start": 8,
        "keep_cols": [0, 1, 2],
        "rename_dict": {"From fig2.1Revised2011.xls": "Real Estate"}
    },
    "CSUSHPINSA": {
        "dfs": dfs,
        "sheet_name": "Home Prices (Raw Data)",
        "header_row": 9,
        "data_start": 10,
        "data_end": 34,
        "keep_cols": [5, 7],
        "rename_dict": {"default_name": "CSUSHPINSA"}
    },
    "Moody's Rates_AAA": {
        "dfs": dfs,
        "sheet_name": "Moody's Rates",
        "header_row": 9,
        "data_start": 10,
        "keep_cols": [0, 1, 2]
    },
    "Moody's Rates_BAA": {
        "dfs": dfs,
        "sheet_name": "Moody's Rates",
        "header_row": 9,
        "data_start": 10,
        "keep_cols": [8, 9, 10],
        "rename_dict": {"default_name": "% Rate"}
    },
    "Gold Prices": {
        "dfs": dfs,
        "sheet_name": "Gold Prices",
        "keep_cols": [0, 1]
    }
}

for (df_name, sheet_parameters) in sheets_config.items():
    dfs_cleaned[df_name] = clean_sheet(**sheet_parameters)

In [35]:
dfs_cleaned.keys()

dict_keys(['Annual Returns on Investments in', 'Value of $100 invested at start of 1928 in', 'Annual Risk Premium', 'Annual Real Returns', 'Value of $100 invested at start of 1928 in real terms', 'Real Risk Premium', 'S&P 500 & Raw Data', 'Small Cap', 'T. Bond yield & return', 'T. Bill rates', 'Inflation Rate', 'Home Prices', 'CSUSHPINSA', "Moody's Rates_AAA", "Moody's Rates_BAA", 'Gold Prices'])

In [41]:
dfs_cleaned['Annual Returns on Investments in'].head()

,Year,S&P 500 (includes dividends),US Small cap (bottom decile),3-month T.Bill,US T. Bond (10-year),Baa Corporate Bond,Real Estate,Gold*
0,1928,0.438112,0.5991,0.0308,0.008355,0.032196,0.014911,0.000969
1,1929,-0.082979,-0.4661,0.0316,0.042038,0.030179,-0.020568,-0.001452
2,1930,-0.251236,-0.5003,0.0455,0.045409,0.005398,-0.043,0.000969
3,1931,-0.438375,-0.4466,0.0231,-0.025589,-0.156808,-0.081505,-0.17385
4,1932,-0.086424,0.2049,0.0107,0.087903,0.235896,-0.104664,0.212778

In [8]:
dfs_cleaned["Moody's Rates_AAA"].head()

9     observation_date   AAA  % Rate
0  1919-01-01 00:00:00  5.73  0.0573
1  1920-01-01 00:00:00  6.26  0.0626
2  1921-01-01 00:00:00   5.5   0.055
3  1922-01-01 00:00:00  5.08  0.0508
4  1923-01-01 00:00:00  5.09  0.0509

In [28]:
for df_name in dfs_cleaned.keys():
    dfs_cleaned[df_name].to_csv(f"{df_name}.csv", index=False)